# ==========================================
# KONFIGURASI ENVIRONMENT VARIABLES RTM BOT
# ==========================================

# Token Bot Discord (Wajib)
BOT_TOKEN=

# API Key Google Gemini untuk Chatbot AI & Cyber Defense (Wajib)
GOOGLE_API_KEY=

# MongoDB URI untuk Sinkronisasi Cloud (Opsional, otomatis fallback ke JSON lokal jika kosong)
MONGODB_URI=

# Discord User ID Pemilik Bot (Otomatis fallback ke ID developer)
BOT_OWNER_ID=1000737066822410311

# ID Channel Pengiriman Teka-Teki Harian Otomatis (Opsional)
DAILY_PUZZLE_CHANNEL_ID=765140300145360896

# ID Role Tim Staf Tiket Bantuan (Opsional)
TICKET_SUPPORT_ROLE_ID=

# ID Channel Khusus Menu Bantuan & FAQ (Opsional)
FAQ_CHANNEL_ID=765140300145360896

# ID Channel Pemilihan Role Gender (Opsional)
ROLE_CHANNEL_ID=1255221263811743836

# ID Channel Pengingat Server (Opsional)
REMINDER_CHANNEL_ID=
