discord.py==2.5.2
Flask
aiohttp
Pillow
python-dotenv
PyNaCl
yt-dlp
ffmpeg-python
lyricsgenius
pymongo>=4.0.0
spotipy
spotify
pytz
google-api-python-client
Flask-Cors
requests
google-auth-oauthlib
google-auth-httplib2
pilmoji
apscheduler
